p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: black;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: black;
}
button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: black;
}