.home{
    display: flex;
    flex-direction: row;
    text-align: center; 
    margin: 50px;
    align-items: center;
    background:linear-gradient(white , rgb(2, 139, 185));
}
h1{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 44px;
    padding: 15px;
    background-color: aqua;
    margin: 50px;
    align-items: center;
}
p{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 44px;
    padding: 20px;
    background-color: white;
    margin: 50px;
    flex-direction: row;
}
button{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: auto;
    font-size: 44px;
    background-color: aqua;
    margin: auto;
}